{% extends "global_layout.html" %}
{% block content %}
<div class="container">
    {% include "flash_messages.html" %}
    <div class="row" id="row">
        <div class="col-md-12">
            <div class="card" id="card-container">
                <div class="card-body" id="card">
                {% if users|length == 0 %}
                    <h1 style="margin-top: 5rem;">No Users found!</h1>
                {% else %}
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>User ID</th>
                                    <th>First name</th>
                                    <th>Last name</th>
                                    <th>Username</th>
                                    
                                    <th>Password</th>
                                    <th>Status</th>
                                    <th>Birthdate</th>
                                    <th>Number of lent books</th>
                                    <th>Number of reservations</th>
                                    <th>Punctual?</th>
                                    <th>Email</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for user in users %}
                                    <tr>
                                        <td> {{ user.userid }}</td>
                                        <td> {{ user.first_name }} </td>
                                        <td> {{ user.last_name }} </td>
                                        <td> {{ user.username }} </td>
                                       
                                        <td> {{ user.password }} </td>
                                        <td> {{ user.status }} </td>
                                        <td> {{ user.birthdate }} </td>
                                        <td> {{ user.num_lent }} </td>
                                        <td> {{ user.num_reserved }} </td>
                                        <td> {{ user.punctual }} </td>
                                        <td> {{ user.email }} </td>
                                        <td>
                                            <a type="button" onclick="setModalFields(this,'{{username}}')"
                                            data-toggle="modal"
                                            data-userid="{{ user.userid }}"
                                            data-first_name="{{user.first_name}}" 
                                            data-last_name= "{{user.last_name}}"
                                            data-username="{{user.username}}"
                                            data-schoolid="{{user.schoolid}}"
                                            data-password="{{user.password}}"
                                            data-status="{{user.status}}"
                                            data-birthdate="{{user.birthdate}}"
                                            data-num_lent="{{user.num_lent}}"
                                            data-num_reserved="{{user.num_reserved}}"
                                            data-punctual="{{user.punctual}}"
                                            data-email="{{user.email}}"  
                                            data-bs-toggle = "modal"
                                            data-bs-target="#editModal">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                        </td>
                                        <td>
                                            <button style = "all: unset; cursor: pointer;" type = "button"
                                            data-bs-toggle = "modal" data-bs-target = "#deleteModal"
                                            data-userid = "{{ user.userid }}" onclick = "setDeleteModalFields(this,'{{username}}')">
                                                <i class = "fa fa-trash"></i>
                                            </button>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
<div style="margin-top: 20px; text-align: center;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <a class="btn btn-primary" href="/op/{{ username }}">Home</a>
            </div>
        </div>
    </div>
</div>
<div style="margin-bottom: 20px;"></div>



<!-- Edit modal -->
<div id="editModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit User</h4>
            </div>
            <div class="modal-body">
                <form id="modal-form">
                    {{ form.hidden_tag() }}
                    <div style="text-align: center;">
                        <input type="text" name="id" id="id" readonly>
                        <!-- Setting required to false disables the HTML attribute and leaves input validation to the backend -->
                        {{ form.first_name(id = "first_name", required = False) }}
                        {{ form.last_name(id = "last_name", required = False) }}
                        {{ form.username(id = "username", required = False) }}
                        {{ form.password(id = "password", required = False) }}
                        {{ form.status(id = "status", required = False) }}
                        {{ form.birthdate(id = "birthdate", required = False) }}
                        {{ form.num_lent(id = "num_lent", required = False) }}
                        {{ form.num_reserved(id = "num_reserved", required = False) }}
                        {{ form.punctual(id = "punctual", required = False) }}
                        {{ form.email(id = "email", required = False) }}
                    </div>
                    <div>
                        {% if form.first_name.errors %}
                        <ul class = "errors">
                            {% for error in form.first_name.errors %}
                            <li class = "alert text-danger">{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        {% if form.last_name.errors %}
                        <ul class = "errors">
                            {% for error in form.last_name.errors %}
                            <li class = "alert text-danger">{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        {% if form.username.errors %}
                        <ul class = "errors">
                            {% for error in form.username.errors %}
                            <li class = "alert text-danger">{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        {% if form.password.errors %}
                        <ul class = "errors">
                            {% for error in form.password.errors %}
                            <li class = "alert text-danger">{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        {% if form.status.errors %}
                        <ul class = "errors">
                            {% for error in form.status.errors %}
                            <li class = "alert text-danger">{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        {% if form.birthdate.errors %}
                        <ul class = "errors">
                            {% for error in form.birthdate.errors %}
                            <li class = "alert text-danger">{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        {% if form.num_lent.errors %}
                        <ul class = "errors">
                            {% for error in form.num_lent.errors %}
                            <li class = "alert text-danger">{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        {% if form.num_reserved.errors %}
                        <ul class = "errors">
                            {% for error in form.num_reserved.errors %}
                            <li class = "alert text-danger">{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        {% if form.punctual.errors %}
                        <ul class = "errors">
                            {% for error in form.punctual.errors %}
                            <li class = "alert text-danger">{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        {% if form.email.errors %}
                        <ul class = "errors">
                            {% for error in form.email.errors %}
                            <li class = "alert text-danger">{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                {{ form.submit(class = "btn btn btn-success", form = "modal-form", value = "Update") }}
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<!-- Delete modal -->
<div class = "modal fade" id="deleteModal">
    <div class = "modal-dialog">
        <div class = "modal-content">
            <div class = "modal-header">
                <h5 class = "modal-title" id = "deleteModalLabel">Delete user</h5>
                <button type = "button" class = "btn-close" data-bs-dismiss = "modal" aria-label = "Close"></button>
            </div>
            <div class = "modal-body">
                The user will be deleted. Are you sure?
            </div>
            <div class = "modal-footer">
                <button type = "button" class = "btn btn-secondary" data-bs-dismiss = "modal">Close</button>
                <form id = "delete-modal-form">
                    <input type = "submit" class = "btn btn-danger" value = "Delete">
                </form>
            </div>
        </div>
    </div>
</div>

<script>

</script>

<script>
    /*
    function setModalFields(row,username) {
        //document.getElementById("schoolid").value = row.getAttribute("data-schoolid");
        document.getElementById("first_name").value = row.getAttribute("data-first_name");
        document.getElementById("last_name").value = row.getAttribute("data-last_name");
        document.getElementById("username").value = row.getAttribute("data-username");
        document.getElementById("schoolid").value = row.getAttribute("data-schoolid");
        document.getElementById("password").value = row.getAttribute("data-password");
        document.getElementById("status").value = row.getAttribute("data-status");
        document.getElementById("birthdate").value = row.getAttribute("data-birthdate");
        document.getElementById("num_lent").value = row.getAttribute("data-num_lent");
        document.getElementById("num_reserved").value = row.getAttribute("data-num_reserved");
        document.getElementById("punctual").value = row.getAttribute("data-punctual");
        document.getElementById("email").value = row.getAttribute("data-email");
        //document.getElementById("modal-form").action = "/op/"+username+"/users/update/" + row.getAttribute("data-userid");
        document.getElementById("modal-form").action = "/op/"+username+"/users/update/" + row.getAttribute("data-userid");
        document.getElementById("modal-form").method = "POST";
        // document.getElementById("submit").addEventListener("click", (e) => {e.preventDefault();});
        // commented line above would prevent the default behavior of the submit button, that is, sending the
        // form data with a post request to the determined address and subsequently closing the pop-up
    }
*/

function setModalFields(row, username) {
    console.log(row); // Output the row element to the console for debugging
    console.log(row.attributes); // Output the attributes of the row element for debugging

    // Retrieve the user's data attributes
    var userId = row.getAttribute("data-userid");
    var firstName = row.getAttribute("data-first_name");
    var lastName = row.getAttribute("data-last_name");
    var username2 = row.getAttribute("data-username");
    //var schoolId = 3 //row.getAttribute("data-schoolid");
    var password = row.getAttribute("data-password");
    var status = row.getAttribute("data-status");
    var birthdate = row.getAttribute("data-birthdate");
    var numLent = row.getAttribute("data-num_lent");
    var numReserved = row.getAttribute("data-num_reserved");
    var punctual = row.getAttribute("data-punctual");
    var email = row.getAttribute("data-email");

    // Debugging: Output the retrieved attributes to the console
    console.log("userId:", userId);
    console.log("firstName:", firstName);
    console.log("lastName:", lastName);
    console.log("username:", username2);
    //console.log("schoolId:", schoolId);
    console.log("password:", password);
    console.log("status:", status);
    console.log("birthdate:", birthdate);
    console.log("numLent:", numLent);
    console.log("numReserved:", numReserved);
    console.log("punctual:", punctual);
    console.log("email:", email);

    // Set the form field values based on the retrieved attributes
    //document.getElementById("id").value = userId;
    document.getElementById("first_name").value = firstName;
    document.getElementById("last_name").value = lastName;
    document.getElementById("username").value = username2;
    //document.getElementById("schoolid").value = schoolId;
    document.getElementById("password").value = password;
    document.getElementById("status").value = status;
    document.getElementById("birthdate").value = birthdate;
    document.getElementById("num_lent").value = numLent;
    document.getElementById("num_reserved").value = numReserved;
    document.getElementById("punctual").value = punctual;
    document.getElementById("email").value = email;

    document.getElementById("modal-form").action = "/op/" + username + "/users/update/" + row.getAttribute("data-userid");
    document.getElementById("modal-form").method = "POST";
}

    function setDeleteModalFields(row,username) {
        document.getElementById("delete-modal-form").action = "/op/"+username+"/users/delete/" + row.getAttribute("data-userid");
        document.getElementById("delete-modal-form").method = "POST";
    }
</script>
{% endblock content %}