{% extends "global_layout.html" %}

{% block content %}
<div class="container">
    {% include "flash_messages.html" %}
    <div class="row" id="row">
        <div class="col-md-12">
            <div class="card" id="card-container">
                <div class="card-body" id="card">
                    {% if books|length == 0 %}
                        <h1 style="margin-top: 5rem;">No Books found!</h1>
                    {% else %}
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Title</th>
                                        <th>Publisher</th>
                                        <th>ISBN</th>
                                        <th>Author's First Name</th>
                                        <th>Author's Last Name</th>
                                        <th>Number of pages</th>
                                        <th>Summary</th>
                                        <!--<th>Image</th>-->
                                        <th>Category</th>
                                        <th>Language</th>
                                        <th>Keywords</th>
                                        <th>Available copies</th>
                                        <th>Total copies</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for book in books %}
                                        <tr>
                                            <td>{{ book.bookid }}</td>
                                            <td>{{ book.title }}</td>
                                            <td>{{ book.publisher }}</td>
                                            <td>{{ book.ISBN }}</td>
                                            <td>{{ book.writerfirstname }}</td>
                                            <td>{{ book.writerlastname }}</td>
                                            <td>{{ book.pgnum }}</td>
                                            <td>{{ book.summary }}</td>
                                            <!--<td>{{ book.img }}</td>-->
                                            <td>{{ book.categories }}</td>
                                            <td>{{ book.lang }}</td>
                                            <td>{{ book.keywords }}</td>
                                            <td>{{ book.cpavail }}</td>
                                            <td>{{ book.cptotal }}</td>
                                            <!--
                                            <td>
                                                <a type="button" onclick="setModalFields(this, {
                                                    bookid: '{{ book.bookid }}',
                                                    title: '{{ book.title }}',
                                                    publisher: '{{ book.publisher }}',
                                                    ISBN: '{{ book.ISBN }}',
                                                    writerfirstname: '{{ book.writerfirstname }}',
                                                    writerlastname: '{{ book.writerlastname }}',
                                                    pgnum: '{{ book.pgnum }}',
                                                    summary: '{{ book.summary }}',
                                                    //img: '{{ book.img }}',
                                                    categories: '{{ book.categories }}',
                                                    lang: '{{ book.lang }}',
                                                    keywords: '{{ book.keywords }}'
                                                })" 
                                                data-toggle="modal"
                                                data-bookid="{{ book.bookid }}"
                                                data-title="{{ book.title }}" 
                                                data-publisher="{{ book.publisher }}"
                                                data-ISBN="{{ book.ISBN }}"
                                                data-writerfirstname="{{ book.writerfirstname }}"
                                                data-writerlastname="{{ book.writerlastname }}"
                                                data-pgnum="{{ book.pgnum }}"
                                                data-summary="{{ book.summary }}"
                                                data-img="{{ book.img }}"
                                                data-categories="{{ book.categories }}"
                                                data-lang="{{ book.lang }}"
                                                data-keywords="{{ book.keywords }}"
                                                data-cpavail="{{ book.cpavail }}"
                                                data-cptotal="{{ book.cptotal }}"
                                                data-bs-toggle="modal"
                                                data-bs-target="#editModal">
                                                    <i class="fa fa-edit"></i>
                                                </a>
                                            </td>
                                            <td>
                                                <button style="all: unset; cursor: pointer;" type="button"
                                                    data-bs-toggle="modal" data-bs-target="#deleteModal"
                                                    data-id="{{ book.bookid }}" onclick="setDeleteModalFields(this)">
                                                    <i class="fa fa-trash"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
-->
<!---
<div id="editModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit Book</h4>
            </div>
            <div class="modal-body">
                <form id="modal-form">
                    {{ form.hidden_tag() }}
                    <div style="text-align: center;">
                        <input type="text" name="id" id="id" readonly>
                        {{ form.cpavail(id="cpavail", required=False) }}
                        {{ form.cptotal(id="cptotal", required=False) }}
                    </div>
                    <div>
                        {% if form.cpavail.errors %}
                            <ul class="errors">
                                {% for error in form.cpavail.errors %}
                                    <li class="alert text-danger">{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        {% if form.cptotal.errors %}
                            <ul class="errors">
                                {% for error in form.cptotal.errors %}
                                    <li class="alert text-danger">{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                {{ form.submit(class="btn btn btn-success", form="modal-form", value="Update") }}
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
-->
<!-- Delete modal --> <!---
<div class="modal fade" id="deleteModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete Book</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                All associated lendings/reservations will be deleted too. Are you sure?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <form id="delete-modal-form">
                    <input type="submit" class="btn btn-danger" value="Delete">
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    function setModalFields(row, bookData) {
        document.getElementById("bookid").value = bookData.bookid;
        document.getElementById("title").value = bookData.title;
        document.getElementById("publisher").value = bookData.publisher;
        document.getElementById("ISBN").value = bookData.ISBN;
        document.getElementById("writerfirstname").value = bookData.writerfirstname;
        document.getElementById("writerlastname").value = bookData.writerlastname;
        document.getElementById("pgnum").value = bookData.pgnum;
        document.getElementById("summary").value = bookData.summary;
        document.getElementById("img").value = bookData.img;
        document.getElementById("categories").value = bookData.categories;
        document.getElementById("lang").value = bookData.lang;
        document.getElementById("keywords").value = bookData.keywords;
        document.getElementById("cpavail").value = row.getAttribute("data-cpavail");
        document.getElementById("cptotal").value = row.getAttribute("data-cptotal");
        document.getElementById("modal-form").action = "/op/+"username+"books/update/" + row.getAttribute("data-bookid");
        document.getElementById("modal-form").method = "POST";
    }

    function setDeleteModalFields(row) {
        document.getElementById("delete-modal-form").action = "/op/books/delete/" + row.getAttribute("data-bookid");
        document.getElementById("delete-modal-form").method = "POST";
    }
</script>
-->
{% endblock content %}



%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

{% extends "global_layout.html" %}
{% block content %}
<div class="container">
    {% include "flash_messages.html" %}
    <div class="row" id="row">
    <div class="col-md-12">
    <div class="card" id="card-container">
    <div class="card-body" id="card">
    {% if books|length == 0 %}
        <h1 style="margin-top: 5rem;">No Books found!</h1>
    {% else %}
        <div class="table-responsive">
        <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Publisher</th>
            <th>ISBN</th>
            <th>Author's First Name</th>
            <th>Author's Last Name</th>
            <th>Number of pages</th>
            <th>Summary</th>
            <th>Image</th>
            <th>Category</th>
            <th>Language</th>
            <th>Keywords</th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            {% for book in books %}
                                    <tr>
                                    <td> {{ book.bookid }} </td>
                                    <td> {{ book.title }} </td>
                                    <td> {{ book.publisher }} </td>
                                    <td> {{ book.ISBN }} </td>
                                    <td> {{ book.writerfirstname }} </td>
                                    <td> {{ book.writerlastname }} </td>
                                    <td> {{ book.pgnum }} </td>
                                    <td> {{ book.summary }} </td>
                                    <td> {{ book.img }} </td>
                                    <td> {{ book.categories }} </td>
                                    <td> {{ book.lang }} </td>
                                    <td> {{ book.keywords }} </td>
                                    <!--<a type="button" onclick="setModalFields(this)"
                                    data-toggle="modal" 
                                    data-bookid="{{ book.bookid }}"
                                    data-title="{{book.title}}" 
                                    data-publisher= "{{book.publisher}}"
                                    data-ISBN="{{book.ISBN}}"
                                    data-writerfirstname="{{book.writerfirstname}}"
                                    data-writerlastname="{{book.writerlastname}}"
                                    data-pgnum="{{book.pgnum}}"
                                    data-summary="{{book.summary}}"
                                    data-img="{{book.img}}"
                                    data-categories="{{book.categories}}"
                                    data-lang="{{book.lang}}"
                                    data-keywords="{{book.keywords}}"
                                    data-bs-toggle = "modal"
                                    data-bs-target="#editModal">
                                    <i class="fa fa-edit"></i>
                                    </a>-->
                                    </td>
                                    <td>
                                    <button style = "all: unset; cursor: pointer;" type = "button"
                                    data-bs-toggle = "modal" data-bs-target = "#deleteModal"
                                    data-id = "{{ book.bookid }}" onclick = "setDeleteModalFields(this)">
                                    <i class = "fa fa-trash"></i>
                                    </button>
                                    </td>
                                    </tr>
            {% endfor %}
            </tbody>
            </table>
            </div>
    {% endif %}
</div>
</div>
</div>
</div>
</div>

<!--
-- Edit modal 
<div id="editModal" class="modal fade" role="dialog">
<div class="modal-dialog">
-- Modal content
<div class="modal-content">
<div class="modal-header">
<h4 class="modal-title">Edit Book</h4>
</div>
<div class="modal-body">
<form id="modal-form">
{{ form.hidden_tag() }}
<div style="text-align: center;">
            <input type="text" name="id" id="id" readonly>
             Setting required to false disables the HTML attribute and leaves input validation to the backend 
            {{ form.title(id = "title", required = False) }}
            {{ form.publisher(id = "publisher", required = False) }}
            {{ form.ISBN(id = "ISBN", required = False) }}
            {{ form.writerfirstname(id= "Author's first name", required=False)}}
            {{ form.writerlastname(id= "Author's last name", required=False)}}
            {{ form.pgnum(id = "pgnum", required = False) }}
            {{ form.summary(id = "summary", required = False) }}
            {{ form.img(id = "img", required = False) }}
            {{ form.categories(id= "Categories", required=False)}}
            {{ form.lang(id = "lang", required = False) }}
            {{ form.keywords(id= "Keywords", required=False)}}
            </div>
            <div>
                        {% if form.title.errors %}
                        <ul class = "errors">
                            {% for error in form.title.errors %}
                            <li class = "alert text-danger">{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        {% if form.publisher.errors %}
                        <ul class = "errors">
                            {% for error in form.publisher.errors %}
                            <li class = "alert text-danger">{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        {% if form.ISBN.errors %}
                        <ul class = "errors">
                            {% for error in form.ISBN.errors %}
                            <li class = "alert text-danger">{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        {% if form.writerfirstname.errors %}
                        <ul class = "errors">
                            {% for error in form.writerfirstname.errors %}
                            <li class = "alert text-danger">{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        {% if form.title.errors %}
                        <ul class = "errors">
                            {% for error in form.title.errors %}
                            <li class = "alert text-danger">{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        {% if form.pgnum.errors %}
                        <ul class = "errors">
                            {% for error in form.pgnum.errors %}
                            <li class = "alert text-danger">{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        {% if form.summary.errors %}
                        <ul class = "errors">
                            {% for error in form.summary.errors %}
                            <li class = "alert text-danger">{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        {% if form.img.errors %}
                        <ul class = "errors">
                            {% for error in form.img.errors %}
                            <li class = "alert text-danger">{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        {% if form.lang.errors %}
                        <ul class = "errors">
                            {% for error in form.lang.errors %}
                            <li class = "alert text-danger">{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
            </div>
            </form>
            </div>
            <div class="modal-footer">
            {{ form.submit(class = "btn btn btn-success", form = "modal-form", value = "Update") }}
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
</div>
</div>

</div>
</div>

-->
<!-- Delete modal -->
<div class = "modal fade" id="deleteModal">
<div class = "modal-dialog">
<div class = "modal-content">
<div class = "modal-header">
<h5 class = "modal-title" id = "deleteModalLabel">Delete Book</h5>
<button type = "button" class = "btn-close" data-bs-dismiss = "modal" aria-label = "Close"></button>
</div>
        <div class = "modal-body">
        All associated books will be deleted too. Are you sure?
</div>
<div class = "modal-footer">
<button type = "button" class = "btn btn-secondary" data-bs-dismiss = "modal">Close</button>
<form id = "delete-modal-form">
<input type = "submit" class = "btn btn-danger" value = "Delete">
</form>
</div>
</div>
</div>
</div>

<script>

</script>

<script>
    function setModalFields(row) {
        document.getElementById("bookid").value = row.getAttribute("data-bookid");
        document.getElementById("title").value = row.getAttribute("data-title");
        document.getElementById("publisher").value = row.getAttribute("data-publisher");
        document.getElementById("ISBN").value = row.getAttribute("data-ISBN");
        document.getElementById("pgnum").value = row.getAttribute("data-pgnum");
        document.getElementById("summary").value = row.getAttribute("data-summary");
        document.getElementById("img").value = row.getAttribute("data-img");
        document.getElementById("lang").value = row.getAttribute("data-lang");
        document.getElementById("modal-form").action = "/books/update/" + row.getAttribute("data-bookid");
        document.getElementById("modal-form").method = "POST";
        // document.getElementById("submit").addEventListener("click", (e) => {e.preventDefault();});
        // commented line above would prevent the default behavior of the submit button, that is, sending the
        // form data with a post request to the determined address and subsequently closing the pop-up
    }

    function setDeleteModalFields(row) {
        document.getElementById("delete-modal-form").action = "/books/delete/" + row.getAttribute("data-id");
        document.getElementById("delete-modal-form").method = "POST";
    }
</script>
{% endblock content %}
