{% extends "global_layout.html" %}
{% block content %}
<div class="container">
    {% include "flash_messages.html" %}
    <div class="row" id="row">
        <div class="col-md-12">
            <form class="form-horizontal" name="user-form" method="POST">
                <!-- hidden_tag returns the form's security metadata -->
                {{ form.hidden_tag() }}
                <div class="form-group col-sm-3 mb-3">
                    {{ form.first_name.label(class = "form-label") }}
                    <!-- Setting required to false disables the HTML attribute and leaves input validation to the backend -->
                    {{ form.first_name(class = "form-control", placeholder = "Enter first name", required = False) }}
                    {% if form.first_name.errors %}
                    <ul class = "errors">
                        {% for error in form.first_name.errors %}
                        <li class = "text-danger">{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class="form-group col-sm-3 mb-3">
                    {{ form.last_name.label(class = "form-label") }}
                    {{ form.last_name(class = "form-control", placeholder = "Enter last name", required = False) }}
                    {% if form.last_name.errors %}
                    <ul class = "errors">
                        {% for error in form.last_name.errors %}
                        <li class = "text-danger">{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class="form-group col-sm-3 mb-3">
                    {{ form.username.label(class = "form-label") }}
                    {{ form.username(class = "form-control", placeholder = "Enter username", required = False) }}
                    {% if form.username.errors %}
                    <ul class = "errors">
                        {% for error in form.username.errors %}
                        <li class = "text-danger">{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class="form-group col-sm-3 mb-3">
                    {{ form.schoolid.label(class = "form-label") }}
                    {{ form.schoolid(class = "form-control", placeholder = "Enter schoolid", required = False) }}
                    {% if form.schoolid.errors %}
                    <ul class = "errors">
                        {% for error in form.schoolid.errors %}
                        <li class = "text-danger">{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class="form-group col-sm-3 mb-3">
                    {{ form.password.label(class = "form-label") }}
                    {{ form.password(class = "form-control", placeholder = "Enter password", required = False) }}
                    {% if form.password.errors %}
                    <ul class = "errors">
                        {% for error in form.password.errors %}
                        <li class = "text-danger">{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class="form-group col-sm-3 mb-3">
                    {{ form.status.label(class = "form-label") }}
                    {{ form.status(class = "form-control", placeholder = "Enter status", required = False) }}
                    {% if form.status.errors %}
                    <ul class = "errors">
                        {% for error in form.status.errors %}
                        <li class = "text-danger">{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class="form-group col-sm-3 mb-3">
                    {{ form.birthdate.label(class = "form-label") }}
                    {{ form.birthdate(class = "form-control", placeholder = "Enter birthdate", required = False) }}
                    {% if form.birthdate.errors %}
                    <ul class = "errors">
                        {% for error in form.birthdate.errors %}
                        <li class = "text-danger">{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class="form-group col-sm-3 mb-3">
                    {{ form.num_lent.label(class = "form-label") }}
                    {{ form.num_lent(class = "form-control", placeholder = "Enter number of lent books", required = False) }}
                    {% if form.num_lent.errors %}
                    <ul class = "errors">
                        {% for error in form.num_lent.errors %}
                        <li class = "text-danger">{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class="form-group col-sm-3 mb-3">
                    {{ form.num_reserved.label(class = "form-label") }}
                    {{ form.num_reserved(class = "form-control", placeholder = "Enter number of reservations", required = False) }}
                    {% if form.num_reserved.errors %}
                    <ul class = "errors">
                        {% for error in form.num_reserved.errors %}
                        <li class = "text-danger">{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class="form-group col-sm-3 mb-3">
                    {{ form.punctual.label(class = "form-label") }}
                    {{ form.punctual(class = "form-control", placeholder = "Enter punctual", required = False) }}
                    {% if form.punctual.errors %}
                    <ul class = "errors">
                        {% for error in form.punctual.errors %}
                        <li class = "text-danger">{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class="form-group col-sm-3 mb-3">
                    {{ form.email.label(class = "form-label") }}
                    {{ form.email(class = "form-control", placeholder = "Enter email", required = False) }}
                    {% if form.email.errors %}
                    <ul class = "errors">
                        {% for error in form.email.errors %}
                        <li class = "text-danger">{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                {{ form.submit(class = "btn btn-primary btn-submit-custom") }}
            </form>
        </div>
    </div>
</div>
<div style="margin-top: 20px; text-align: center;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <a class="btn btn-primary" href="/centop">Home</a>
            </div>
        </div>
    </div>
</div>
<div style="margin-bottom: 20px;"></div>
{% endblock content %}