{% extends "global_layout.html" %}
{% block content %}
<div class="container">
    {% include "flash_messages.html" %}
    <div class="row" id="row">
        <div class="col-md-12">
            <form class="form-horizontal" name="books-form" method="POST">
                <!-- hidden_tag returns the form's security metadata -->
                {{ form.hidden_tag() }}
                <div class="form-group col-sm-3 mb-3">
                    {{ form.title.label(class = "form-label") }}
                    <!-- Setting required to false disables the HTML attribute and leaves input validation to the backend -->
                    {{ form.title(class = "form-control", placeholder = "Enter title", required = False) }}
                    {% if form.title.errors %}
                    <ul class = "errors">
                        {% for error in form.title.errors %}
                        <li class = "text-danger">{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class="form-group col-sm-3 mb-3">
                    {{ form.publisher.label(class = "form-label") }}
                    {{ form.publisher(class = "form-control", placeholder = "Enter publisher", required = False) }}
                    {% if form.publisher.errors %}
                    <ul class = "errors">
                        {% for error in form.publisher.errors %}
                        <li class = "text-danger">{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class="form-group col-sm-3 mb-3">
                    {{ form.ISBN.label(class = "form-label") }}
                    {{ form.ISBN(class = "form-control", placeholder = "Enter ISBN", required = False) }}
                    {% if form.ISBN.errors %}
                    <ul class = "errors">
                        {% for error in form.ISBN.errors %}
                        <li class = "text-danger">{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class="form-group col-sm-3 mb-3">
                    {{ form.writerfirstname.label(class = "form-label") }}
                    {{ form.writerfirstname(class = "form-control", placeholder = "Enter writer's first name", required = False) }}
                    {% if form.writerfirstname.errors %}
                    <ul class = "errors">
                        {% for error in form.writerfirstname.errors %}
                        <li class = "text-danger">{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class="form-group col-sm-3 mb-3">
                    {{ form.writerlastname.label(class = "form-label") }}
                    {{ form.writerlastname(class = "form-control", placeholder = "Enter writer's last name", required = False) }}
                    {% if form.writerlastname.errors %}
                    <ul class = "errors">
                        {% for error in form.writerlastname.errors %}
                        <li class = "text-danger">{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class="form-group col-sm-3 mb-3">
                    {{ form.pgnum.label(class = "form-label") }}
                    {{ form.pgnum(class = "form-control", placeholder = "Enter number of pages", required = False) }}
                    {% if form.pgnum.errors %}
                    <ul class = "errors">
                        {% for error in form.pgnum.errors %}
                        <li class = "text-danger">{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class="form-group col-sm-3 mb-3">
                    {{ form.summary.label(class = "form-label") }}
                    {{ form.summary(class = "form-control", placeholder = "Enter summary", required = False) }}
                    {% if form.summary.errors %}
                    <ul class = "errors">
                        {% for error in form.summary.errors %}
                        <li class = "text-danger">{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class="form-group col-sm-3 mb-3">
                    {{ form.img.label(class = "form-label") }}
                    {{ form.img(class = "form-control", placeholder = "Enter image", required = False) }}
                    {% if form.img.errors %}
                    <ul class = "errors">
                        {% for error in form.img.errors %}
                        <li class = "text-danger">{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class="form-group col-sm-3 mb-3">
                    {{ form.categories.label(class="form-label") }}
                    <select id="categories" name="categories" class="form-control" multiple>
                      {% for category in form.categories.choices %}
                      <option value="{{ category[0] }}">{{ category[1] }}</option>
                      {% endfor %}
                    </select>
                    {% if form.categories.errors %}
                    <ul class="errors">
                      {% for error in form.categories.errors %}
                      <li class="text-danger">{{ error }}</li>
                      {% endfor %}
                    </ul>
                    {% endif %}
                  </div>
                <div class="form-group col-sm-3 mb-3">
                    {{ form.lang.label(class = "form-label") }}
                    {{ form.lang(class = "form-control", placeholder = "Enter language", required = False) }}
                    {% if form.lang.errors %}
                    <ul class = "errors">
                        {% for error in form.lang.errors %}
                        <li class = "text-danger">{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class="form-group col-sm-3 mb-3">
                    {{ form.keywords.label(class="form-label") }}
                    <select id="keywords" name="keywords" class="form-control" multiple>
                      {% for category in form.keywords.choices %}
                      <option value="{{ category[0] }}">{{ category[1] }}</option>
                      {% endfor %}
                    </select>
                    {% if form.keywords.errors %}
                    <ul class="errors">
                      {% for error in form.keywords.errors %}
                      <li class="text-danger">{{ error }}</li>
                      {% endfor %}
                    </ul>
                    {% endif %}
                  </div>
                  <div class="form-group col-sm-3 mb-3">
                    {{ form.cpavail.label(class = "form-label") }}
                    {{ form.cpavail(class = "form-control", placeholder = "Enter available copies", required = False) }}
                    {% if form.cpavail.errors %}
                    <ul class = "errors">
                        {% for error in form.cpavail.errors %}
                        <li class = "text-danger">{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class="form-group col-sm-3 mb-3">
                    {{ form.cptotal.label(class = "form-label") }}
                    {{ form.cptotal(class = "form-control", placeholder = "Enter total copies", required = False) }}
                    {% if form.cptotal.errors %}
                    <ul class = "errors">
                        {% for error in form.cptotal.errors %}
                        <li class = "text-danger">{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                
                {{ form.submit(class = "btn btn-primary btn-submit-custom") }}
            </form>
    </div>
    </div>
</div>
<div style="margin-top: 20px; text-align: center;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <a class="btn btn-primary" href="/op/{{ username }}">Home</a>
            </div>
        </div>
    </div>
</div>
<div style="margin-bottom: 20px;"></div>
{% endblock content %}