{% extends "global_layout.html" %}
{% block content %}
<div class="container">
    {% include "flash_messages.html" %}
    <div class="row" id="row">
        <div class="col-md-12">
            <form class="form-horizontal" name="insertreservation-form" method="POST">
                <!-- hidden_tag returns the form's security metadata -->
                {{ form.hidden_tag() }}
                <div class="form-group col-sm-3 mb-3">
                    {{ form.relid.label(class = "form-label") }}
                    {{ form.relid(class = "form-control", placeholder = "Book ID", required = False) }}
                    {% if form.relid.errors %}
                    <ul class = "errors">
                        {% for error in form.relid.errors %}
                        <li class = "text-danger">{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                {{ form.submit(class = "btn btn-primary btn-submit-custom") }}
            </form>
    </div>
    </div>
</div>
<div style="margin-top: 20px; text-align: center;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <a class="btn btn-primary" href="/user/{{userid}}">Home</a>
            </div>
        </div>
    </div>
</div>
<div style="margin-bottom: 20px;"></div>
{% endblock content %}