{% extends "global_layout.html" %}
{% block content %}
<div class="container" id="row-container">
    {% include "flash_messages.html" %}
    <div class="row" id="row">
        <div class="col-md-6">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">Schools</h4>
                    <p class="card-text paragraph-custom">
                        Simple query to database to show all schools, or enter a new school into the database
                    </p>
                    <a class="btn btn-primary btn-submit-custom" href="/schools">Show</a>
                    <a class="btn btn-primary btn-submit-custom" href="/schools/create">Create</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">Operators</h4>
                    <p class="card-text">
                        Simple query to database to show all operators, or enter a new operator into the database
                    </p>
                    <a class="btn btn-primary btn-submit-custom" href="/operators">Show</a>
                    <a class="btn btn-primary btn-submit-custom" href="/operators/create">Create</a>
                </div>
            </div>
        </div>
        <div class="row" id="row">
            <div class="col-md-6">
                <div class="card" id="card-container-layout">
                    <div class="card-body" id="card">
                        <h4 class="card-title">Books</h4>
                        <p class="card-text paragraph-custom">
                            Simple query to database to show all books, or enter a new book into the database
                        </p>
                        <a class="btn btn-primary btn-submit-custom" href="/books">Show</a>
                        <a class="btn btn-primary btn-submit-custom" href="/books/create">Create</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card" id="card-container-layout">
                    <div class="card-body" id="card">
                        <h4 class="card-title">Users</h4>
                        <p class="card-text paragraph-custom">
                            Simple query to database to show all users (teachers/students), or enter a new user into the database
                        </p>
                        <a class="btn btn-primary btn-submit-custom" href="/users">Show</a>
                        <a class="btn btn-primary btn-submit-custom" href="/users/create">Create</a>
                    </div>
                </div>
            </div>
            <div class="row" id="row">
                <div class="col-md-6">
                    <div class="card" id="card-container-layout">
                        <div class="card-body" id="card">
                            <h4 class="card-title">Reservations</h4>
                            <p class="card-text paragraph-custom">
                                Simple query to database to show all reservations, or enter a new reservation into the database
                            </p>
                            <a class="btn btn-primary btn-submit-custom" href="/reservations">Show</a>
                            <a class="btn btn-primary btn-submit-custom" href="/reservations/create">Create</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card" id="card-container-layout">
                        <div class="card-body" id="card">
                            <h4 class="card-title">Lendings</h4>
                            <p class="card-text paragraph-custom">
                                Simple query to database to show all lendings, or enter a new lending into the database
                            </p>
                            <a class="btn btn-primary btn-submit-custom" href="/lendings">Show</a>
                            <a class="btn btn-primary btn-submit-custom" href="/lendings/create">Create</a>
                        </div>
                    </div>
                </div>
    </div>

    <div class="row" id="row-2">
        <div class="col-md-12">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">Queries</h4>
                    <p></p>
                    <p>
                            <a class="btn btn-primary btn-submit-custom" href="/lendingsbyschool">Total lendings by school</a>
                            
                    </p>
                    <p>
                        <a class="btn btn-primary btn-submit-custom" href="/writersbybookcat">Writers by book category</a>
                        
                    </p>
                    <p>
                        <a class="btn btn-primary btn-submit-custom" href="/teachersbybookcat">Teachers by book category</a>
                        
                    </p>
                    <p>
                        <a class="btn btn-primary btn-submit-custom" href="/teachersmostlend">Teachers with most lendings</a>
                        
                    </p>
                    <p>
                        <a class="btn btn-primary btn-submit-custom" href="/writersnolend">Writers with no lendings</a>
                        
                    </p>
                    <p>
                        <a class="btn btn-primary btn-submit-custom" href="/opsamenumlend">Operators with the same lendings (>20)</a>
                        
                    </p>
                    <p>
                        <a class="btn btn-primary btn-submit-custom" href="/topgenre">Most frequent pairs of book categories</a>
                        
                    </p>
                    <p>
                        <a class="btn btn-primary btn-submit-custom" href="/fivelessthanmax">Writers with less than the top writer by 5 or more</a>
                        
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
