{% extends "global_layout.html" %}
{% block content %}
<div class="container" id="row-container">
    {% include "flash_messages.html" %}
    <div class="row" id="row">
        <div class="row" id="row">
            <div class="col-md-6">
                <div class="card" id="card-container-layout">
                    <div class="card-body" id="card">
                        <h4 class="card-title">Books</h4>
                        <p class="card-text paragraph-custom">
                            Simple query to database to show all books, or enter a new book into the database
                        </p>
                        <a class="btn btn-primary btn-submit-custom" href="/op/{{username}}/books">Show</a>
                        <a class="btn btn-primary btn-submit-custom" href="/op/{{username}}/books/create">Create</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card" id="card-container-layout">
                    <div class="card-body" id="card">
                        <h4 class="card-title">Users</h4>
                        <p class="card-text paragraph-custom">
                            Simple query to database to show all users (teachers/students), or enter a new user into the database
                        </p>
                        <a class="btn btn-primary btn-submit-custom" href="/op/{{username}}/users">Show</a>
                        <a class="btn btn-primary btn-submit-custom" href="/op/{{username}}/users/create">Create</a>
                    </div>
                </div>
            </div>
            <div class="row" id="row">
                <div class="col-md-6">
                    <div class="card" id="card-container-layout">
                        <div class="card-body" id="card">
                            <h4 class="card-title">Reservations</h4>
                            <p class="card-text paragraph-custom">
                                Simple query to database to show all reservations, or enter a new reservation into the database
                            </p>
                            <a class="btn btn-primary btn-submit-custom" href="/op/{{username}}/reservations">Show</a>
                            <a class="btn btn-primary btn-submit-custom" href="/op/{{username}}/reservations/create">Create</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card" id="card-container-layout">
                        <div class="card-body" id="card">
                            <h4 class="card-title">Lendings</h4>
                            <p class="card-text paragraph-custom">
                                Simple query to database to show all lendings, or enter a new lending into the database
                            </p>
                            <a class="btn btn-primary btn-submit-custom" href="/op/{{username}}/lendings">Show</a>
                            <a class="btn btn-primary btn-submit-custom" href="/op/{{username}}/lendings/create">Create</a>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center" id="row">
                <div class="col-md-6">
                    <div class="card" id="card-container-layout">
                        <div class="card-body" id="card">
                            <h4 class="card-title">Reviews</h4>
                            <p class="card-text paragraph-custom">
                                Simple query to database to show all reviews, or enter a new review into the database
                            </p>
                            <a class="btn btn-primary btn-submit-custom" href="/op/reviews/{{username}}">Show</a>
                            <a class="btn btn-primary btn-submit-custom" href="/op/reviews/create/{{username}}">Create</a>
                        </div>
                    </div>
                </div>
            </div>
    </div>

    <div class="row" id="row-2">
        <div class="col-md-12">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">Queries</h4>
                    <p></p>
                    <p>
                        <a class="btn btn-primary btn-submit-custom" href="/op/{{ username}}/op_book_search">Search specific books</a>
                            
                    </p>
                    <p>
                        <a class="btn btn-primary btn-submit-custom" href="/op/{{username}}/op_not_returned">Show users with delayed lendings</a>
                        
                    </p>
                    <p>
                        <a class="btn btn-primary btn-submit-custom" href="/op/{{username}}/median_review">Average of reviews</a>
                        
                    </p>
                    <p>
                    <form action="/operator/delete/expired/{{ username }}" method="POST">
                        <button class="btn btn-primary btn-submit-custom" type="submit">Delete Expired Reservations</button>
                    </form>
                </p>
                    <p>
                    <form action="/operator/punctual/{{ username }}" method="POST">
                        <button class="btn btn-primary btn-submit-custom" type="submit">Mark late return</button>
                    </form>
                </p>
                <p>
                    <form action="/operator/waitingreservation/{{ username }}" method="POST">
                        <button class="btn btn-primary btn-submit-custom" type="submit">Update reservations</button>
                    </form>
                </p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
